<div class="container">
  <div class="card m-5 p-3">
      <div class="card-body">
          <table class="table table-bordered table-striped table-hover"  >
              <thead>
              <tr>
                  <th>Member ID</th>
                  <th>Name</th>
                  <th>Surname</th>
                  <th>Email</th>
                  <th>Date Created</th>
                  <th>Subscription</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of members">
                  <td>{{ item.MemberId }}</td>
                  <td>{{ item.Name }}</td>
                  <td>{{ item.Surname }}</td>
                  <td>{{ item.Email }}</td>
                  <td>{{ item.DateCreated }}</td>
                  <td>{{ item.Subscription }}</td>
              </tr>
              </tbody>
          </table>
      </div>

  </div>
</div>





